<!DOCTYPE html>
<a lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отель</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
{{ user.username }}
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}">logout</a>
{% else %}
    <a href="{% url 'login' %}">login</a>
{% endif %}
    <h1>Отель</h1>
    <a href="{% url 'hotel-rating' %}"> Отзывы об отеле</a><br><br>

    <h3>Все номера отеля</h3>
    {% for room in all_rooms %}
        <a href="{% url 'room-detail' room_id=room.number %}">{{ room }}</a><br>
        Вмещает людей: {{ room.number_of_people }}<br>
        Площадь: {{ room.room_area }} кв.м.<br>
        Люкс: {{ room.is_lux }}<br>
        Цена: {{ room.price }} USD<br>
        <hr>
    {% endfor %}

</div>
</body>
</html>

