{% extends 'hotel/hotel_main.html' %}
{% load static %}
{% block title %}Отель{% endblock %}

{% block content %}

    <img src="{% static 'pexels-thanhhoa-tran-1488327ukujl.jpg' %}" width='100%'>
    <div class="text-center" >
        <h1>Отель</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet facilisis elit. Nulla ut velit leo.
        Maecenas eu tincidunt lectus. Maecenas id tortor convallis, congue felis at, vehicula urna. Quisque libero
        neque, mollis vitae ultrices sed, rutrum sed lorem. Maecenas eu orci urna. Vivamus turpis arcu, aliquet sed
        quam sit amet, aliquet sollicitudin mi. Integer efficitur ornare diam, in elementum urna interdum vitae.
        </p>
    </div>



{% endblock %}