{% extends 'hotel/hotel_main.html' %}

{% block title %}Оценка отеля{% endblock %}

{% block content %}

<table class="table my-5">
  <thead>
    <tr>
      <th scope="col">Общий рейтинг отеля</th>
      <th scope="col"></th>
      <th scope="col"><span class="badge bg-secondary float-end">{{ avg_all|floatformat:2 }}</span></th>
    </tr>
  </thead>
  <tbody>
  {% for type in types %}

    <tr>
      <td>{{ type.title }}</td>
      <td><div class="rating">
          {% for i in '12345' %}
              <a href="{% url 'add-rating' type_id=type.id rate=i %}">{{ i }}</a>

          {% endfor %}
      </div>
      </td>
      <td><span class="badge bg-secondary float-end">{{ type.avg_rate }}</span></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
