{% extends 'hotel/hotel_main.html' %}

{% block title %}Сообщения{% endblock %}

{% block content %}
<h1 class="text-center">Сообщения</h1>

<form action="{% url 'add-message' %}" method="post">
{% csrf_token %}
  <div class="mb-3">
    <label for="rent_number">Номер отеля</label>
    <select name="rent_number" id="room_number" required>
        {% for message in  messages %}
        {% ifchanged %}<option value="{{ message.rent_id }}">{{ message.rent_id }}</option>{% endifchanged %}
        {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label for="text" class="form-label">Текст сообщения:</label>
    <textarea class="form-control" rows="5" id="text" name="text" required></textarea>
  </div>
  <button class="btn btn-outline-dark" type="submit">Отправить</button>
</form>
<br>

{% for message in messages %}
    <i>
        {{ message.date|date:"d.m.Y h:i:s" }}<br>
        Номер аренды {{ message.rent_id }}<br>
        Комната {{ message.rent.room_id }}<br>
        Автор {{ message.author.username }}<br>
    </i>
    {{ message.text }}<br><br>
{% endfor %}

{% endblock %}